@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

.border{
    width: 100%;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.379);
}

.foo{
    text-align: center;
    color:rgba(255, 255, 255, 0.462);
    font-family: "Coming Soon", cursive;
    font-size: 10px;
}